body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1041px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12785 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:542px;
  width:333px;
  height:70px;
}
#u12786 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:219px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12787 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:324px;
  width:333px;
  height:219px;
}
#u12788 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:102px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u12789 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:563px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#999999;
}
#u12790 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u12791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u12791 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:335px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#999999;
}
#u12792 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u12793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u12793 {
  border-width:0px;
  position:absolute;
  left:862px;
  top:370px;
  width:116px;
  height:52px;
  font-size:18px;
}
#u12794 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:112px;
  word-wrap:break-word;
}
#u12795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u12795 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:370px;
  width:116px;
  height:52px;
  font-size:18px;
}
#u12796 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:112px;
  word-wrap:break-word;
}
#u12797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u12797 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:445px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#999999;
}
#u12798 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u12799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u12799 {
  border-width:0px;
  position:absolute;
  left:862px;
  top:474px;
  width:116px;
  height:52px;
  font-size:18px;
}
#u12800 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:112px;
  word-wrap:break-word;
}
#u12801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u12801 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:474px;
  width:116px;
  height:52px;
  font-size:18px;
}
#u12802 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:112px;
  word-wrap:break-word;
}
#u12803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u12803 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:558px;
  width:70px;
  height:34px;
  font-size:18px;
}
#u12804 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u12805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12805 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:558px;
  width:50px;
  height:34px;
}
#u12806 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:46px;
  word-wrap:break-word;
}
#u12807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12807 {
  border-width:0px;
  position:absolute;
  left:954px;
  top:558px;
  width:50px;
  height:34px;
}
#u12808 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:46px;
  word-wrap:break-word;
}
#u12809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:910px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12809 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:80px;
  width:520px;
  height:910px;
}
#u12810 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:447px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12811 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:34px;
  width:520px;
  height:47px;
}
#u12812 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:19px;
}
#u12813 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:48px;
  width:501px;
  height:19px;
}
#u12814 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:497px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:25px;
}
#u12815 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:96px;
  width:14px;
  height:25px;
}
#u12816 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:2px;
}
#u12817 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:136px;
  width:520px;
  height:1px;
}
#u12818 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#008000;
}
#u12819 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:98px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#008000;
}
#u12820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u12821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u12821 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:98px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u12822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u12823_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:53px;
  height:5px;
}
#u12823 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:127px;
  width:50px;
  height:2px;
}
#u12824 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:520px;
}
#u12825 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:136px;
  width:520px;
  height:520px;
}
#u12826 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:252px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u12827 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:92px;
  width:32px;
  height:32px;
}
#u12828 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u12829 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:594px;
  width:50px;
  height:50px;
  font-size:16px;
}
#u12830 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u12831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u12831 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:666px;
  width:497px;
  height:56px;
  font-size:24px;
}
#u12832 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  word-wrap:break-word;
}
#u12833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u12833 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:742px;
  width:55px;
  height:22px;
  font-size:18px;
  color:#999999;
}
#u12834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u12835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FF0000;
}
#u12835 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:733px;
  width:97px;
  height:42px;
  font-size:36px;
  color:#FF0000;
}
#u12836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u12837 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:742px;
  width:49px;
  height:22px;
  font-size:18px;
  color:#999999;
}
#u12838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:2px;
}
#u12839 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:753px;
  width:52px;
  height:1px;
}
#u12840 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u12841 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:742px;
  width:55px;
  height:22px;
  font-size:18px;
}
#u12842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u12843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u12843 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:745px;
  width:93px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u12844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u12845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:2px;
}
#u12845 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:777px;
  width:520px;
  height:1px;
}
#u12846 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:11px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12847 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:777px;
  width:518px;
  height:11px;
}
#u12848 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:514px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12849 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12850 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:787px;
  width:520px;
  height:44px;
}
#u12851 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u12852 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:799px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u12853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u12854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u12854 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:799px;
  width:95px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u12855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u12856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u12856 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:793px;
  width:32px;
  height:32px;
}
#u12857 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12858 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12859 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:929px;
  width:80px;
  height:61px;
}
#u12860 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u12861 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:944px;
  width:32px;
  height:32px;
}
#u12862 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12863 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:929px;
  width:80px;
  height:61px;
}
#u12864 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12865 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:929px;
  width:80px;
  height:61px;
}
#u12866 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u12867 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:944px;
  width:32px;
  height:32px;
}
#u12868 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u12869 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:944px;
  width:32px;
  height:32px;
}
#u12870 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:61px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12871 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:929px;
  width:283px;
  height:61px;
  font-size:20px;
  color:#FFFFFF;
}
#u12872 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:279px;
  word-wrap:break-word;
}
#u12873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:11px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12873 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:831px;
  width:518px;
  height:11px;
}
#u12874 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:514px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12876 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:841px;
  width:520px;
  height:44px;
}
#u12877 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u12878 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:853px;
  width:453px;
  height:22px;
  font-size:18px;
}
#u12879 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  word-wrap:break-word;
}
#u12880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:44px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12880 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:885px;
  width:518px;
  height:44px;
}
#u12881 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:514px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12883 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:897px;
  width:20px;
  height:20px;
}
#u12884 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12885 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:899px;
  width:141px;
  height:16px;
}
#u12886 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
