body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:643px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:780px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15119 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:80px;
  width:520px;
  height:780px;
}
#u15120 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:382px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15121 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:34px;
  width:520px;
  height:47px;
}
#u15122 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:19px;
}
#u15123 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:48px;
  width:501px;
  height:19px;
}
#u15124 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:497px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15126 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:87px;
  width:431px;
  height:41px;
}
#u15127 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:41px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15128 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:87px;
  width:38px;
  height:41px;
}
#u15129 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u15130 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:101px;
  width:13px;
  height:14px;
}
#u15131 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u15132 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:100px;
  width:39px;
  height:16px;
  color:#CCCCCC;
}
#u15133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u15134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:25px;
}
#u15134 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:96px;
  width:14px;
  height:25px;
}
#u15135 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:278px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15137 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:198px;
  width:238px;
  height:278px;
}
#u15138 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:131px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:207px;
}
#u15139 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:205px;
  width:221px;
  height:207px;
}
#u15140 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:96px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u15141 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:446px;
  width:50px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u15142 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u15143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u15143 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:450px;
  width:52px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u15144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u15145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u15145 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:419px;
  width:113px;
  height:19px;
  font-size:16px;
}
#u15146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u15147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:278px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15147 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:198px;
  width:238px;
  height:278px;
}
#u15148 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:131px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:207px;
}
#u15149 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:205px;
  width:221px;
  height:207px;
}
#u15150 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:96px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u15151 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:419px;
  width:108px;
  height:19px;
  font-size:16px;
}
#u15152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u15153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u15153 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:446px;
  width:50px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u15154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u15155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u15155 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:450px;
  width:52px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u15156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u15157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:278px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15157 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:495px;
  width:238px;
  height:278px;
}
#u15158 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:131px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u15159 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:743px;
  width:50px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u15160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u15161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u15161 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:747px;
  width:52px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u15162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u15163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u15163 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:716px;
  width:146px;
  height:19px;
  font-size:16px;
}
#u15164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u15165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:278px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15165 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:495px;
  width:238px;
  height:278px;
}
#u15166 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:131px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u15167 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:743px;
  width:50px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u15168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u15169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u15169 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:747px;
  width:52px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u15170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u15171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:207px;
}
#u15171 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:503px;
  width:221px;
  height:207px;
}
#u15172 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:96px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:207px;
}
#u15173 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:503px;
  width:221px;
  height:207px;
}
#u15174 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:96px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u15175 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:716px;
  width:146px;
  height:19px;
  font-size:16px;
}
#u15176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u15177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:2px;
}
#u15177 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:136px;
  width:520px;
  height:1px;
}
#u15178 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#008000;
}
#u15179 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:148px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#008000;
}
#u15180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u15181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:2px;
}
#u15181 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:181px;
  width:520px;
  height:1px;
}
#u15182 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u15183 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:148px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u15184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u15185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u15185 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:148px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u15186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u15187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u15187 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:148px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u15188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u15189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u15189 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:148px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u15190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u15191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u15191 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:145px;
  width:26px;
  height:26px;
}
#u15192 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u15193 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:148px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u15194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
