body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1638px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8744_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:845px;
  background:inherit;
  background-color:rgba(47, 50, 58, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8744 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:50px;
  width:206px;
  height:845px;
}
#u8745 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:414px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u8746 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:864px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u8747 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:70px;
  background:inherit;
  background-color:rgba(47, 50, 58, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8748 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:592px;
  width:206px;
  height:70px;
}
#u8749 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8750 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:618px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8751 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8752 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:615px;
  width:25px;
  height:25px;
}
#u8753 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8754 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:862px;
  width:20px;
  height:20px;
}
#u8755 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8756 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:70px;
  background:inherit;
  background-color:rgba(47, 50, 58, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8757 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:202px;
  width:206px;
  height:70px;
}
#u8758 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8759 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:226px;
  width:81px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8760 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u8761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8761 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:223px;
  width:25px;
  height:25px;
}
#u8762 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:82px;
  background:-webkit-linear-gradient(270deg, rgba(153, 153, 153, 1) 0%, rgba(153, 153, 153, 1) 0%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(153, 153, 153, 1) 0%, rgba(153, 153, 153, 1) 0%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%);
  background:linear-gradient(180deg, rgba(153, 153, 153, 1) 0%, rgba(153, 153, 153, 1) 0%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8763 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:50px;
  width:206px;
  height:82px;
}
#u8764 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:33px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u8765 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:79px;
  width:30px;
  height:30px;
}
#u8766 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u8767 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:83px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u8768 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:180px;
  background:inherit;
  background-color:rgba(32, 34, 40, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8769 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:342px;
  width:206px;
  height:180px;
}
#u8770 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8771 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:70px;
  background:inherit;
  background-color:rgba(47, 50, 58, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8772 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:522px;
  width:206px;
  height:70px;
}
#u8773 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8774 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:548px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8775 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8776 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:545px;
  width:25px;
  height:25px;
}
#u8777 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8778 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:70px;
  background:inherit;
  background-color:rgba(47, 50, 58, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8779 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:132px;
  width:206px;
  height:70px;
}
#u8780 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8781 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:154px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8782 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u8783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8783 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:151px;
  width:25px;
  height:25px;
}
#u8784 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8785 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:366px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8786 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8787 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:422px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u8788 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:70px;
  background:inherit;
  background-color:rgba(47, 50, 58, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8790 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:272px;
  width:206px;
  height:70px;
}
#u8791 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8792 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:298px;
  width:49px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8793 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8794 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:295px;
  width:25px;
  height:25px;
}
#u8795 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1433px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8796 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:50px;
  width:1433px;
  height:84px;
}
#u8797 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:1429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1433px;
  height:761px;
}
#u8798 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:134px;
  width:1433px;
  height:761px;
}
#u8799 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:372px;
  width:1429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u8800 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:62px;
  width:25px;
  height:22px;
}
#u8801 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1408px;
  height:691px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8802 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:191px;
  width:1408px;
  height:691px;
}
#u8803 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:338px;
  width:1404px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8804 {
  border-width:0px;
  position:absolute;
  left:1453px;
  top:82px;
  width:23px;
  height:23px;
}
#u8805 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u8806 {
  border-width:0px;
  position:absolute;
  left:1485px;
  top:86px;
  width:83px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u8807 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u8808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u8808 {
  border-width:0px;
  position:absolute;
  left:1583px;
  top:83px;
  width:22px;
  height:22px;
}
#u8809 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 136, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8810 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:149px;
  width:80px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8811 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u8812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:2px;
}
#u8812 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:402px;
  width:205px;
  height:1px;
}
#u8813 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8814 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:191px;
  width:1408px;
  height:691px;
  overflow:hidden;
}
#u8814_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1408px;
  height:691px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  background-image:none;
}
#u8814_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:127px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8815 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:223px;
  width:300px;
  height:127px;
  opacity:0.6;
}
#u8816 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8817 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:223px;
  width:300px;
  height:127px;
}
#u8818 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:127px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8819 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:223px;
  width:300px;
  height:127px;
  opacity:0.6;
}
#u8820 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8821 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:24px;
  width:81px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u8823 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:20px;
  width:257px;
  height:25px;
}
#u8823_input {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8824 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:530px;
  width:81px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8825 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u8826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u8826 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:530px;
  width:60px;
  height:60px;
}
#u8827 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u8828 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:530px;
  width:60px;
  height:60px;
}
#u8829 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8830 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:58px;
  width:81px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8831 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u8832 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:55px;
  width:257px;
  height:22px;
}
#u8832_input {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8832_input:disabled {
  color:grayText;
}
#u8833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8833 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:92px;
  width:81px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u8835 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:87px;
  width:257px;
  height:22px;
}
#u8835_input {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8835_input:disabled {
  color:grayText;
}
#u8836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8836 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:125px;
  width:49px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8837 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8838 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:119px;
  width:257px;
  height:22px;
}
#u8838_input {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8838_input:disabled {
  color:grayText;
}
#u8839 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:151px;
  width:257px;
  height:25px;
}
#u8839_input {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8840 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:159px;
  width:81px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8841 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u8842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8842 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:225px;
  width:81px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u8844 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:256px;
  width:257px;
  height:25px;
}
#u8844_input {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8845 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:291px;
  width:257px;
  height:25px;
}
#u8845_input {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8846 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:230px;
  width:29px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8847 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8848 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:363px;
  width:505px;
  height:155px;
}
#u8849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8849 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8850 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u8851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8851 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8852 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u8853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u8853 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:120px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8854 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u8855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u8855 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:0px;
  width:110px;
  height:30px;
}
#u8856 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u8857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u8857 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:0px;
  width:110px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8858 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u8859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:80px;
  height:30px;
}
#u8860 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u8861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8861 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:30px;
  width:80px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8862 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u8863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u8863 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:30px;
  width:120px;
  height:30px;
}
#u8864 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u8865 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:30px;
  width:110px;
  height:30px;
}
#u8866 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u8867 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:30px;
  width:110px;
  height:30px;
}
#u8868 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8869 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:80px;
  height:30px;
}
#u8870 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u8871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8871 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:60px;
  width:80px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8872 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u8873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u8873 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:60px;
  width:120px;
  height:30px;
}
#u8874 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u8875 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:60px;
  width:110px;
  height:30px;
}
#u8876 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u8877 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:60px;
  width:110px;
  height:30px;
}
#u8878 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8879 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:80px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8880 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u8881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8881 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:90px;
  width:80px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8882 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u8883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u8883 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:90px;
  width:120px;
  height:30px;
}
#u8884 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u8885 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:90px;
  width:110px;
  height:30px;
}
#u8886 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u8887 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:90px;
  width:110px;
  height:30px;
}
#u8888 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8889 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:80px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8890 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u8891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8891 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:120px;
  width:80px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8892 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u8893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u8893 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:120px;
  width:120px;
  height:30px;
}
#u8894 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u8895 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:120px;
  width:110px;
  height:30px;
}
#u8896 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u8897 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:120px;
  width:110px;
  height:30px;
}
#u8898 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8899 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:608px;
  width:81px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8900 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u8901 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:186px;
  width:257px;
  height:25px;
}
#u8901_input {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8902 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:193px;
  width:81px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8903 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u8904 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:256px;
  width:257px;
  height:25px;
}
#u8904_input {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8905 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:291px;
  width:257px;
  height:25px;
}
#u8905_input {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8906 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:229px;
  width:29px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8908 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:321px;
  width:25px;
  height:25px;
}
#u8909 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8910 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:256px;
  width:25px;
  height:25px;
}
#u8911 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8912 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:291px;
  width:25px;
  height:25px;
}
#u8913 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8914 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:256px;
  width:25px;
  height:25px;
}
#u8915 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8916 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:291px;
  width:25px;
  height:25px;
}
#u8917 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8918 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:321px;
  width:25px;
  height:25px;
}
#u8919 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u8920 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:276px;
  width:84px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u8921 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u8922 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:397px;
  width:111px;
  height:22px;
}
#u8922_input {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8923 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:427px;
  width:111px;
  height:22px;
}
#u8923_input {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8924 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:457px;
  width:111px;
  height:22px;
}
#u8924_input {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8925 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:487px;
  width:111px;
  height:22px;
}
#u8925_input {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8926 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:397px;
  width:98px;
  height:22px;
}
#u8926_input {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8927 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:427px;
  width:98px;
  height:22px;
}
#u8927_input {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8928 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:457px;
  width:98px;
  height:22px;
}
#u8928_input {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8929 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:487px;
  width:98px;
  height:22px;
}
#u8929_input {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8930 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:397px;
  width:98px;
  height:22px;
}
#u8930_input {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8931 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:427px;
  width:98px;
  height:22px;
}
#u8931_input {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8932 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:457px;
  width:98px;
  height:22px;
}
#u8932_input {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8933 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:487px;
  width:98px;
  height:22px;
}
#u8933_input {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8934 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:299px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8935 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:608px;
  width:770px;
  height:299px;
}
#u8936 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:142px;
  width:766px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8937_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8937 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:673px;
  width:92px;
  height:17px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8938 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u8939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u8939 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:627px;
  width:15px;
  height:15px;
}
#u8940 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u8941 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:627px;
  width:15px;
  height:15px;
}
#u8942 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold Oblique', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:oblique;
  font-size:16px;
  color:#666666;
}
#u8943 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:624px;
  width:6px;
  height:20px;
  font-family:'微軟正黑體 Bold Oblique', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:oblique;
  font-size:16px;
  color:#666666;
}
#u8944 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u8945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u8945 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:624px;
  width:11px;
  height:20px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u8946 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u8947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u8947 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:624px;
  width:14px;
  height:20px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u8948 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u8949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u8949 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:627px;
  width:15px;
  height:15px;
}
#u8950 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8951 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:920px;
  width:212px;
  height:16px;
}
#u8952 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:194px;
  word-wrap:break-word;
}
#u8951_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8953 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:946px;
  width:1px;
  height:16px;
}
#u8954 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u8955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 136, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8955 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:149px;
  width:80px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8956 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u8957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:2px;
}
#u8957 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:462px;
  width:205px;
  height:1px;
}
#u8958 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8959 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:484px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u8960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
