body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:643px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:780px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13159 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:80px;
  width:520px;
  height:780px;
}
#u13160 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:382px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:725px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13161 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:134px;
  width:518px;
  height:725px;
}
#u13162 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:354px;
  width:514px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13163 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:34px;
  width:520px;
  height:47px;
}
#u13164 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:19px;
}
#u13165 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:48px;
  width:501px;
  height:19px;
}
#u13166 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:497px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13167 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:96px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u13169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:25px;
}
#u13169 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:96px;
  width:14px;
  height:25px;
}
#u13170 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13171 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:345px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13172 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:252px;
  width:520px;
  height:345px;
}
#u13173 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:164px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u13174 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:263px;
  width:138px;
  height:22px;
  font-size:18px;
}
#u13175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u13176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u13176 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:263px;
  width:80px;
  height:80px;
}
#u13177 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u13178 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:315px;
  width:71px;
  height:24px;
  font-size:20px;
  color:#FF0000;
}
#u13179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u13180 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:289px;
  width:77px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u13181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u13182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u13182 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:382px;
  width:80px;
  height:80px;
}
#u13183 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u13184 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:382px;
  width:163px;
  height:22px;
  font-size:18px;
}
#u13185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u13186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u13186 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:408px;
  width:77px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u13187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u13188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u13188 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:434px;
  width:71px;
  height:24px;
  font-size:20px;
  color:#FF0000;
}
#u13189 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u13190 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:500px;
  width:80px;
  height:80px;
}
#u13191 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u13192 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:500px;
  width:178px;
  height:22px;
  font-size:18px;
}
#u13193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u13194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u13194 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:527px;
  width:77px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u13195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u13196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u13196 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:554px;
  width:60px;
  height:24px;
  font-size:20px;
  color:#FF0000;
}
#u13197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u13198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u13198 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:294px;
  width:68px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u13199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u13200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u13200 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:413px;
  width:68px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u13201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u13202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u13202 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:531px;
  width:68px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u13203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u13204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13204 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:596px;
  width:520px;
  height:43px;
}
#u13205 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13206 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:207px;
  width:520px;
  height:47px;
}
#u13207 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13208 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:221px;
  width:82px;
  height:19px;
  font-size:16px;
}
#u13209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u13210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13210 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:221px;
  width:206px;
  height:19px;
  font-size:16px;
}
#u13211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  white-space:nowrap;
}
#u13212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#008000;
}
#u13212 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:221px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#008000;
}
#u13213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13214 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:638px;
  width:520px;
  height:62px;
}
#u13215 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13216 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:608px;
  width:287px;
  height:19px;
  font-size:16px;
}
#u13217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u13218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13218 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:654px;
  width:85px;
  height:31px;
}
#u13219 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:81px;
  word-wrap:break-word;
}
#u13220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13220 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:654px;
  width:85px;
  height:31px;
}
#u13221 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:81px;
  word-wrap:break-word;
}
#u13222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u13222 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:654px;
  width:85px;
  height:31px;
  color:#008000;
}
#u13223 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:81px;
  word-wrap:break-word;
}
#u13224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13224 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:143px;
  width:518px;
  height:54px;
}
#u13225 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:514px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#008000;
}
#u13226 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:161px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#008000;
}
#u13227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u13228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13228 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:161px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u13229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13230 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:161px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u13231 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13232 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:161px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u13233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13234 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:161px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u13235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13236_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:51px;
  height:5px;
}
#u13236 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:187px;
  width:48px;
  height:2px;
}
#u13237 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
