body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:780px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:755px;
  height:440px;
}
#u230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:0px;
  width:120px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:30px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:450px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:446px;
  word-wrap:break-word;
}
#u236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:80px;
  height:30px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:30px;
  width:120px;
  height:30px;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:30px;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:30px;
  width:450px;
  height:30px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:446px;
  word-wrap:break-word;
}
#u244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:30px;
  width:100px;
  height:30px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:375px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:80px;
  height:375px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:180px;
  width:76px;
  word-wrap:break-word;
}
#u248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:375px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:60px;
  width:120px;
  height:375px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:180px;
  width:116px;
  word-wrap:break-word;
}
#u250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:375px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:60px;
  width:450px;
  height:375px;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:180px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:375px;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:60px;
  width:100px;
  height:375px;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:180px;
  width:96px;
  word-wrap:break-word;
}
#u254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:99px;
  width:127px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:123px;
  width:439px;
  height:27px;
}
#u256_input {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:171px;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:160px;
  width:124px;
  height:170px;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:120px;
  word-wrap:break-word;
}
#u259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:171px;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:160px;
  width:124px;
  height:170px;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:120px;
  word-wrap:break-word;
}
#u261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:340px;
  width:155px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:400px;
  width:155px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:364px;
  width:439px;
  height:27px;
}
#u265_input {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:423px;
  width:439px;
  height:27px;
}
#u266_input {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
