body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1638px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1433px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7942 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:50px;
  width:1433px;
  height:84px;
}
#u7943 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:1429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u7944 {
  border-width:0px;
  position:absolute;
  left:1453px;
  top:82px;
  width:23px;
  height:23px;
}
#u7945 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7946_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u7946 {
  border-width:0px;
  position:absolute;
  left:1485px;
  top:86px;
  width:83px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u7947 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u7948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1433px;
  height:761px;
}
#u7948 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:134px;
  width:1433px;
  height:761px;
}
#u7949 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:372px;
  width:1429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u7950 {
  border-width:0px;
  position:absolute;
  left:1583px;
  top:83px;
  width:22px;
  height:22px;
}
#u7951 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u7952 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:62px;
  width:25px;
  height:22px;
}
#u7953 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1408px;
  height:689px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7954 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:191px;
  width:1408px;
  height:689px;
}
#u7955 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:336px;
  width:1404px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7956 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:245px;
  width:205px;
  height:19px;
  font-size:16px;
}
#u7957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u7958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7958 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:383px;
  width:311px;
  height:38px;
  font-size:16px;
}
#u7959 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  white-space:nowrap;
}
#u7960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7960 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:437px;
  width:129px;
  height:19px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u7962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 136, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7962 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:149px;
  width:80px;
  height:30px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7963 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u7964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7964 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:471px;
  width:180px;
  height:19px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7965 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  white-space:nowrap;
}
#u7966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7966 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:503px;
  width:229px;
  height:19px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7967 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  white-space:nowrap;
}
#u7968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u7969 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:533px;
  width:90px;
  height:90px;
}
#u7970 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u7971 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:533px;
  width:90px;
  height:90px;
}
#u7972 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u7973 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:533px;
  width:90px;
  height:90px;
}
#u7974 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u7975 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:533px;
  width:90px;
  height:90px;
}
#u7976 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u7977 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:633px;
  width:90px;
  height:90px;
}
#u7978 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u7979 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:633px;
  width:90px;
  height:90px;
}
#u7980 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u7981 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:633px;
  width:90px;
  height:90px;
}
#u7982 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u7983 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:633px;
  width:90px;
  height:90px;
}
#u7984 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u7985 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:733px;
  width:90px;
  height:90px;
}
#u7986 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7987 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:280px;
  width:138px;
  height:19px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u7989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7989 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:313px;
  width:129px;
  height:19px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u7991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7991 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:350px;
  width:180px;
  height:19px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  white-space:nowrap;
}
#u7993 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:921px;
  width:838px;
  height:395px;
}
#u7994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u7994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u7995 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u7996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:30px;
}
#u7996 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:0px;
  width:730px;
  height:30px;
  text-align:left;
}
#u7997 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:726px;
  word-wrap:break-word;
}
#u7998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u7998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:103px;
  height:30px;
}
#u7999 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u8000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:30px;
}
#u8000 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:30px;
  width:730px;
  height:30px;
  text-align:left;
}
#u8001 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:726px;
  word-wrap:break-word;
}
#u8002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u8002 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:103px;
  height:30px;
}
#u8003 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u8004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:30px;
}
#u8004 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:60px;
  width:730px;
  height:30px;
  text-align:left;
}
#u8005 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:726px;
  word-wrap:break-word;
}
#u8006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:250px;
}
#u8006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:103px;
  height:250px;
}
#u8007 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:117px;
  width:99px;
  word-wrap:break-word;
}
#u8008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:250px;
}
#u8008 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:90px;
  width:730px;
  height:250px;
  text-align:left;
}
#u8009 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:53px;
  width:726px;
  word-wrap:break-word;
}
#u8010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:50px;
}
#u8010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:340px;
  width:103px;
  height:50px;
}
#u8011 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:99px;
  word-wrap:break-word;
}
#u8012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:50px;
}
#u8012 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:340px;
  width:730px;
  height:50px;
  text-align:left;
}
#u8013 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:726px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:845px;
  background:inherit;
  background-color:rgba(47, 50, 58, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8014 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:50px;
  width:206px;
  height:845px;
}
#u8015 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:414px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u8016 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:864px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u8017 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8018 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:70px;
  background:inherit;
  background-color:rgba(47, 50, 58, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8019 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:547px;
  width:206px;
  height:70px;
}
#u8020 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8021 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:570px;
  width:25px;
  height:25px;
}
#u8022 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8023_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8023 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:573px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8024 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8025 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:70px;
  background:inherit;
  background-color:rgba(47, 50, 58, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8026 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:478px;
  width:206px;
  height:70px;
}
#u8027 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8028 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:501px;
  width:25px;
  height:25px;
}
#u8029 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8030_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8030 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:504px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8031 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8032 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:862px;
  width:20px;
  height:20px;
}
#u8033 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8034 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:70px;
  background:inherit;
  background-color:rgba(47, 50, 58, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8035 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:132px;
  width:206px;
  height:70px;
}
#u8036 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8037 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:154px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u8039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8039 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:151px;
  width:25px;
  height:25px;
}
#u8040 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8041 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:70px;
  background:inherit;
  background-color:rgba(47, 50, 58, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8042 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:202px;
  width:206px;
  height:70px;
}
#u8043 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8044 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:225px;
  width:25px;
  height:25px;
}
#u8045 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8046 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:226px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8047 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:82px;
  background:-webkit-linear-gradient(270deg, rgba(153, 153, 153, 1) 0%, rgba(153, 153, 153, 1) 0%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(153, 153, 153, 1) 0%, rgba(153, 153, 153, 1) 0%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%);
  background:linear-gradient(180deg, rgba(153, 153, 153, 1) 0%, rgba(153, 153, 153, 1) 0%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8048 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:50px;
  width:206px;
  height:82px;
}
#u8049 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:33px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u8050 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:79px;
  width:30px;
  height:30px;
}
#u8051 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u8052 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:83px;
  width:109px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u8053 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u8054 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:70px;
  background:inherit;
  background-color:rgba(32, 34, 40, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8055 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:340px;
  width:206px;
  height:70px;
}
#u8056 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8057 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:363px;
  width:25px;
  height:25px;
}
#u8058 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8059 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:366px;
  width:81px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8060 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u8061 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:70px;
  background:inherit;
  background-color:rgba(47, 50, 58, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8062 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:272px;
  width:206px;
  height:70px;
}
#u8063 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8064 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:296px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8065 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8066 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:294px;
  width:25px;
  height:25px;
}
#u8067 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8068 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8069_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:70px;
  background:inherit;
  background-color:rgba(47, 50, 58, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8069 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:409px;
  width:206px;
  height:70px;
}
#u8070 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8071 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:432px;
  width:25px;
  height:25px;
}
#u8072 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8073_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8073 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:435px;
  width:81px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8074 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u8075_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8075 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:211px;
  width:154px;
  height:19px;
}
#u8076 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
